<div id="play_container">
<ul class="todo">To Do:
  <li>Let user comment game</li>
  <li>Show top highscores</li>
  <li>Show latest comments on the game</li>
  <li>Link to public user profile...</li>
</ul>
<script type="text/javascript">
    $(document).ready(<%= @game.game_version.main_method %>);
</script>
<h1><%= @game.name %></h1>
<br>
<div id="playfield"></div>

<div id="highscore_form">
<%= render 'layouts/game_highscore_form' %>
</div>

<h6>Created by <%= @game.user.name unless @game.user.nil? %></h6>
<div id="rating_form">
  <%= render 'layouts/game_rating_form' %>

</div>

</div>
<input type="hidden" id="game_content_path" value="/<%= @game.game_version.game_img_assets_path %>">