<h1>Manage JS Libraries</h1>
<% if @js_libraries and @js_libraries.any? %>
<div> Available Libraries:
    <ul>
      <% @js_libraries.each do |lib| %>
        <li><%= lib.name %> (<%=lib.version%>) - <%= link_to lib.enabled?? 'Disable' : 'Enable', toggle_enabled_js_library_path(lib), method: :post %> / <%=link_to "Delete", js_library_path(lib), method: :delete %> </li>
      <% end %>
    </ul>
</div>
    <% else %>
<div>No Available Libraries...</div>
<% end %>

<div>
  <h5>Add a JS Library...</h5>
  <%=form_for(@js_library) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :version %>
        <%= f.text_field :version %>
      </div>
      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :path %>
      </div>
      <div class="actions">
        <%= f.submit 'Save' %>
      </div>
  <% end %>

</div>