<div class="row games_list section collapse-group panel panel-success">
  <div class="panel-heading"><a class="btn" data-toggle="collapse" data-target="#best_games"><h3 class="panel-title">Best Games</h3></a></div>
  <div class="collapse panel-body" id="best_games">
  <% @best_voted_games.each do |g| %>
      <div class="col-md-2 game_thumb">
        <div class="thumbnail center">
          <% unless g.game_images.nil? or g.game_images.size == 0 %>
              <%= link_to (image_tag g.game_images[0].image_url(:thumb) ), play_game_path(g) %>
          <% end %>
          <div class="caption">
            <h5><%= link_to g.name, play_game_path(g) %></h5>
            <p><%= "#{g.description[0..20]}..." %><%= link_to "show more", game_path(g) %></p>
            <h6>(Vote:<%= g.votes_mean.round(2) %>)</h6>
            <fieldset class="static_rating">
              <input type="checkbox" <% if g.votes_mean.round == 5 %>checked<%end%> disabled><label for="star5" title="Rocks!">5 stars</label>
              <input type="checkbox" <% if g.votes_mean.round == 4 %>checked<%end%> disabled><label for="star4" title="Pretty good">4 stars</label>
              <input type="checkbox" <% if g.votes_mean.round == 3 %>checked<%end%> disabled><label for="star3" title="Meh">3 stars</label>
              <input type="checkbox" <% if g.votes_mean.round == 2 %>checked<%end%> disabled><label for="star2" title="Kinda bad">2 stars</label>
              <input type="checkbox" <% if g.votes_mean.round == 1 %>checked<%end%> disabled><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
          </div>
        </div>
      </div>
  <% end %>
</div></div>